$white: #fff;
$off-white: #f4f4f4;
$black: #404040;
$gray: #DDD;
$lightGray: #e6e6e6;
$medGray: #777;
$darkGray: #333;

$red: #dd624c;
$green: #8a886e;

$color__background-body: $white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $medGray;
$color__text-input-focus: $black;
$color__link: $medGray;
$color__link-visited: $medGray;
$color__link-hover: $red;
$color__text-main: $black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $gray;
$color__border-abbr: $medGray;


$color__footer-text: $off-white;
$color__footer-bg: $darkGray;

