#header {
	background-color: $gray;
	border-bottom: solid 6px $medGray;

	.inner {
		position: relative;

		&:after {
		  @include clearfix;
		  @include clearfix-after;
		}
	}

	.site-branding {
		.site-title {
			font-size: 0;
			margin: 0;

			a {
				padding: $space $space $space 0;
				display: block;

				&:hover {
					background-color: $lightGray;
				}
			}
		}
	}
}