#tertiary {
	margin-top: $space-double;
	clear: both;

	h3 {
		margin-bottom: $space;
		padding-bottom: $space-half;
		border-bottom: solid 1px $medGray;
	}

	.blurb {
		font-size: 20px;
		font-style: italic;
		color: $medGray;
		margin-bottom: $space-double;
	}

	.featured-section {
		@include clearfix;

		.blocks {
			@include clearfix;
			margin-bottom: $space;
		}

		.block {
			figure {
				width: 100%;
				margin: 0 0 $space 0;

				img {
					max-width: 100%;
					max-height: 100%;
					height: auto;
				}

				figcaption {
					font-size: 12px;
					font-style: italic;
					text-align: center;
				}
			}

			.name,
			.title {
				font-weight: bold;
				margin-bottom: $space-half;
			}

			.rank {
				font-style: italic;
			}

			.description {
				font-size: 14px;
			}
		}
	}
}