#secondary {
	margin-top: $space-double;

	.sidebar {
		background: $gray;
		border-right: solid $red $sidebar_border-width;
		border-bottom: solid $red $sidebar_border-width;
		margin-bottom: $space;
		padding: $space-half $space;

		&:nth-child(even) {
			border-right: solid $green $sidebar_border-width;
			border-bottom: solid $green $sidebar_border-width;
		}

		&.schedule {
			dt.simcal-day-label {
				font-weight: normal;
				margin-bottom: $space;
				border-bottom: none !important;

				span {
					color: $black !important;
					background-color: transparent !important;
				}
			}

			dd {
				margin: 0;
			}

			ul.simcal-events {
				list-style: none;
				margin-left: 0;
				padding-left: 0;

				.simcal-event-details {
					margin-bottom: $space;
				}

				p {
					margin: 0;
				}

				.simcal-event-description {
					font-style: italic;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet__max) {
	#secondary {
		// Visit Page
		.dojo-image {
			text-align: center;

			img,
			figcaption {
				max-width: 300px;
				display: inline-block;
			}
		}
	}
}

@media screen and (min-width: $desktop__min) {
	#secondary {
		position: relative;

		.sidebar {
			padding: $space $space-double $space-double;
		}

		figure {
			margin: 0;
		}

		.top-image,
		.bottom-image {
			width: 100%;
			text-align: right;

			img,
			figcaption {
				width: 60%;
			}

			figcaption {
				display: inline-block;
			}
		}

		.top-image {
			position: absolute;
			right: 0;
		}

		.middle-image {
			width: 80%;
			margin-top: 90px;

			img {
				border: solid $green $sidebar_border-width;
				display: block;
			}
		}

		// Visit Page
		.dojo-image {
			width: 40%;
			position: absolute;
			top: 80px;
			right: 0;
		}
	}
}
