#secondary {
	margin-top: $space-double;

	.sidebar {
		background: $gray;
		border-right: solid $red $sidebar_border-width;
		border-bottom: solid $red $sidebar_border-width;
		margin-bottom: $space;
		padding: $space-half $space;

		&:nth-child(even) {
			border-right: solid $green $sidebar_border-width;
			border-bottom: solid $green $sidebar_border-width;
		}

		&.schedule {
			dt.simcal-day-label {
				font-weight: normal;
				margin-bottom: $space;
				border-bottom: none !important;

				span {
					color: $black !important;
					background-color: transparent !important;
				}
			}

			dd {
				margin: 0;
			}

			ul.simcal-events {
				list-style: none;
				margin-left: 0;
				padding-left: 0;

				.simcal-event-details {
					margin-bottom: $space;
				}

				p {
					margin: 0;
				}

				.simcal-event-description {
					font-style: italic;
				}
			}
		}
	}
}

@media screen and (min-width: $desktop__min) {
	#secondary {

		.sidebar {
			padding: $space $space-double $space-double;
		}
	}
}