header .inner {
	position: relative;
	
	button {
		font-family: $font__main;
		font-weight: bold;
		text-transform: uppercase;
		padding: 6px 10px;
		position: absolute;
		top: $space;
		right: 2%;
	}
}

.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		font-weight: bold; 
		color: $black;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
	}

	a:hover,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $darkGray;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (max-width: $header-mobile-large__max) {
	.main-navigation {
		text-align: center;

		li {
			border-top: solid 1px $medGray;
			padding-top: $space-half;
			margin-bottom: $space-half;
		}

		a:hover,
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $red;
		}
	}
}

@media screen and (min-width: $header-tablet__min) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		ul {
			display: block;
		}

		li {
			float: left;
		}

		a {
			border-bottom: solid $medGray $header_border-height;
		}

		a:hover,
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			border-bottom: solid $red $header_border-height;
			background: $lightGray;
		}
	}
}

@media screen and (min-width: $header-tablet__min) and (max-width: $header-tablet__max) {
	.main-navigation {
		a {
			font-size: 14px;
			padding: ($space+$header_border-height*2) $space-half 38px;
		}
	}
}

@media screen and (min-width: $header-desktop__min) {
	.main-navigation {
		a {
			font-size: 16px;
			padding: ($space+$header_border-height*2) $space $space;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
